In [7]:
# Definisci una variabile numerica che contenga la tua età e visualizzala
età = 28
print("Ho", età, "anni.")

Ho 28 anni.

In [9]:
# Definisci una variabile stringa che contenga il tuo nome e visualizzala
nome = "Giulia"
print("Mi chiamo", nome, ".")

Mi chiamo Giulia .

## Esercizio
1.dichiarare due variabili numeriche  
2.eseguire un'operazione qualsiasi che le coinvolga  
3.salvare il risultato in un terza variabile  
4.stampare il risultato nella forma Il risultato è ... ed è di tipo ...  
5.se il risultato è un float, stampare solo le prime 3 cifre decimali  
6.commentare le righe del codice con il significato delle azioni corrispondenti

In [28]:
# 1. dichiarare due variabili numeriche
a = 1
b =3

In [42]:
# 2. eseguire un'operazione qualsiasi che le coinvolga
# 3. salvare il risultato in un terza variabile
c = a / b  # 6. creo una variabile c che contiene il valore della divisione a / b

In [46]:
# 4. stampare il risultato nella forma Il risultato è ... ed è di tipo ...
print(f"il risultato è {c} ed è di tipo {type(c)}")  # 6. stampo il risultato utilizzando F-string
print("il risultato è {} ed è di tipo {}".format(c,type(c)))  # 6. stampo il risultato utilizzando il metodo .format()

il risultato è 0.3333333333333333 ed è di tipo <class 'float'>
il risultato è 0.3333333333333333 ed è di tipo <class 'float'>

In [54]:
# 5. se il risultato è un float, stampare solo le prime 3 cifre decimali
print(f"il risultato è {c:.2f} ed è di tipo {type(c)}")  # 6. stampo il risultato utilizzando F-string
print("il risultato è {:.2f} ed è di tipo {}".format(c, type(c)))  # 6. stampo il risultato utilizzando il metodo .format()

il risultato è 0.33 ed è di tipo <class 'float'>
il risultato è 0.33 ed è di tipo <class 'float'>

## Esercizi Funzioni

In [6]:
# 1. Scrivi una funzione che prende una lista di numeri e restituisce la somma di tutti gli elementi.
def somma_lista(lista):
    sum = 0
    for n in vettore:
        sum  = sum + n
    return sum

In [16]:
# 2. Scrivi una funzione che prende una stringa e restituisce la stringa invertita.
def inverti(stringa):
    inversa = ''
    indice = len(stringa) -1
    while indice >= 0:
        inversa += stringa[indice]
        indice -= 1
    return inversa

In [28]:
# 3. Scrivi una funzione che prende una lista di parole e restituisce una lista contenente solo le parole che iniziano con una lettera specificata.
def screma(lista, chr):
    new_list = []
    for n in lista:
        if n[0] == chr:
            new_list.append(n)
    return new_list

In [36]:
# 4. Scrivi una funzione che prende una lista di numeri e restituisce una lista contenente solo i numeri pari.
def screma_pari(lista):
    new_list = []
    for n in lista:
        if n%2 == 0:
            new_list.append(n)
    return new_list

In [40]:
# 5. Scrivi una funzione che prende una lista di parole e restituisce una lista contenente la lunghezza di ciascuna parola.
def len_for_element(lista):
    lens = []
    for n in lista:
        lens.append(len(n))
    return lens

In [46]:
# 6. Scrivi una funzione che prende una lista di numeri e restituisce il valore massimo.
def max_func(lista):
    max = lista[0]
    for n in lista:
        if n > max:
            max = n
    return max

In [52]:
# 7. Scrivi una funzione che prende una lista di parole e restituisce la parola più lunga.
def longest(lista):
    lst = lista[0]
    for n in lista:
        if len(n) > len(lst):
            lst = n
    return lst

In [58]:
# 8. Scrivi una funzione che prende una lista di numeri e restituisce la media dei numeri.
def media(lista):
    n = len(lista)
    sum = 0
    for n in lista:
        sum += n
    return sum/n

In [62]:
# 9. Scrivi una funzione che prende una lista di parole e restituisce una lista contenente solo le parole palindrome.
def palindrome(lista):
    palindrome = []
    for n in lista:
        palindroma = ''
        index = len(n) -1
        while index >= 0:
            palindroma += n[index]
            index -= 1
        if palindroma == n:
            palindrome.append(palindroma)
    return palindrome

In [68]:
# 10. Scrivi una funzione che prende una lista di numeri e restituisce una lista contenente solo i numeri maggiori di un valore specificato.
def maggiori(lista, n):
    maggiori = []
    for m in lista:
        if m > n:
            maggiori.append(m)
    return maggiori

## Esercizi - Tipi booleani e istruzioni condizionali

Metti in pratica quanto imparato provando a svolgere questi esercizi:  

1. Scrivi un programma che richieda all'utente di inserire la propria età e quindi di determinare se è idoneo a votare in base al limite di età per il voto.  
2. Crea un programma che chieda all'utente di inserire un numero e quindi stampi se il numero è positivo, negativo o zero.

In [91]:
# 1. Scrivi un programma che richieda all'utente di inserire la propria età e quindi di determinare se è idoneo a votare in base al limite di età per il voto.
def votante():
    età = int(input("Inserisci la tua età"))
    if età >= 18:
        print("Puoi votare!")
    else:
        print("Non puoi votare!")

votante()

Inserisci la tua età 55

Puoi votare!

In [83]:
# 2. Crea un programma che chieda all'utente di inserire un numero e quindi stampi se il numero è positivo, negativo o zero.
def che_numero_è():
    numero = int(input("Inserisci un numero intero"))
    if numero > 0:
        print("il numero inserito è positivo")
    elif numero < 0:
        print("il numero inserito è negativo")
    else:
        print("il numero inserito è zero")

che_numero_è()

Inserisci un numero intero 0

il numero inserito è zero

## Esercizio 1
Iterando su una lista di numeri interi,  

se il quadrato del numero corrente è multiplo sia di 2 che di 3, stampare Il quadrato di ... è ..., che è multiplo sia di 2 che di 3   
se il quadrato del numero corrente è multiplo di 2 ma non di 3, stampare Il quadrato di ... è ..., che è multiplo di 2 ma non di 3  
se il quadrato del numero corrente è multiplo di 3 ma non di 2, stampare Il quadrato di ... è ..., che è multiplo di 3 ma non di 2  
se il quadrato del numero corrente non è multiplo né di 2 né di 3, stampare Il quadrato di ... è ..., che non è multiplo né di 2 né di 3

In [96]:
lst = [3, 6, 5, 8, 12]

for n in lst:
    if n**2 % 2 == 0:
        if n**2 % 3 == 0:
            print(f"Il quadrato di {n} è {n**2} che è multiplo sia di 2 che di 3")
        else:
            print(f"Il quadrato di {n} è {n**2} che è multiplo di 2 ma non di 3")
    elif n**2 % 3 == 0:
        print(f"Il quadrato di {n} è {n**2} che è multiplo di 3 ma non di 2")
    else:
        print(f"Il quadrato di {n} è {n**2} che non è multiplo né di 2 né di 3")

Il quadrato di 3 è 9 che è multiplo di 3 ma non di 2
Il quadrato di 6 è 36 che è multiplo sia di 2 che di 3
Il quadrato di 5 è 25 che non è multiplo né di 2 né di 3
Il quadrato di 8 è 64 che è multiplo di 2 ma non di 3
Il quadrato di 12 è 144 che è multiplo sia di 2 che di 3

## Esercizio 2
A partire dalla lista di numeri dell'esercizio precedente,  

derivare la lista dei quadrati che sono multipli di 2  
derivare la lista dei quadrati che sono multipli di 3  
derivare la lista dei quadrati che sono multipli di 2 e non di 3

In [107]:
lst = [3, 6, 5, 8, 12]
multipli2 = []
multipli3 = []
multipli2e3 = []
for n in lst:
    if n**2 % 2 == 0:
        if n**2 % 3 == 0:
            multipli2e3.append(n**2)
        else:
            multipli2.append(n**2)
    elif n**2 % 3 == 0:
        multipli3.append(n**2)

print(multipli2)
print(multipli3)
print(multipli2e3)

[64]
[9]
[36, 144]

## Esercizio:  
Stampare il voto medio col formato qui sopra, usando (anche) la funzione sum.

In [4]:
grades = [28, 25, 22, 30, 30, 28, 26]
print('voto minimo:', min(grades))
print('voto massimo:', max(grades))
print('voto medio:', sum(grades)/len(grades))

voto minimo: 22
voto massimo: 30
voto medio: 27.0

## Esercizio  
Giocare un po' con le liste e con le operazioni che abbiamo visto:  

1. creare una lista vuota e riempirla  
2. inserirci, modificarne e cancellarne elementi  
3. concatenarla con un'altra lista  
4. inserirle un'altra lista come nuovo elemento  
5. ordinarla in modo naturale e inverso  
6. estrarne delle porzioni e assegnarle a variabili differenti  
7. ricombinare le porzioni ottenute

In [11]:
# 1. creare una lista vuota e riempirla
lista = []
print(lista)
lista += ["Elemento 1"]
lista += ["Elemento 2"]
lista += ["Terzo"]
lista += ["Quarto"]
lista += ["Quinto", 6, 7]
print(lista)

[]
['Elemento 1', 'Elemento 2', 'Terzo', 'Quarto', 'Quinto', 6, 7]

In [21]:
# 2. inserirci, modificarne e cancellarne elementi
lista[0] = 1
lista[1] = 2
lista[2] = 3
lista += ["Quarto"]
lista += ["Quinto", 6, 7]
print(lista)
lista.pop()
print(lista)
lista.remove(1)
print(lista)

[1, 2, 3, 'Quarto', 'Quinto', 6, 7, 'Quarto', 'Quinto', 6, 7, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 7]
[1, 2, 3, 'Quarto', 'Quinto', 6, 7, 'Quarto', 'Quinto', 6, 7, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6]
[2, 3, 'Quarto', 'Quinto', 6, 7, 'Quarto', 'Quinto', 6, 7, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6]

In [25]:
# 3. concatenarla con un'altra lista
lista_2 = [1,2,3,4]
print(lista_2)
lista += lista_2
print(lista)

[1, 2, 3, 4]
[2, 3, 'Quarto', 'Quinto', 6, 7, 'Quarto', 'Quinto', 6, 7, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 1, 2, 3, 4, 1, 2, 3, 4]

In [27]:
# 4. inserirle un'altra lista come nuovo elemento
lista += [lista_2]
print(lista)

[2, 3, 'Quarto', 'Quinto', 6, 7, 'Quarto', 'Quinto', 6, 7, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 'Quarto', 'Quinto', 6, 1, 2, 3, 4, 1, 2, 3, 4, [1, 2, 3, 4]]

In [45]:
# 5. ordinarla in modo naturale e inverso
lista = [1,2,8,11,3,12,22,3,31]
print(lista)
lista.sort()
print(lista)
sorted(lista, reverse=True)
print(lista)
print(sorted(lista, reverse=True))

[1, 2, 8, 11, 3, 12, 22, 3, 31]
[1, 2, 3, 3, 8, 11, 12, 22, 31]
[1, 2, 3, 3, 8, 11, 12, 22, 31]
[31, 22, 12, 11, 8, 3, 3, 2, 1]

In [49]:
# 6. estrarne delle porzioni e assegnarle a variabili differenti
a = lista[0]
b = lista[-1]
c = lista[:3]
print(a)
print(b)
print(c)

1
31
[1, 2, 3]

In [57]:
# 7. ricombinare le porzioni ottenute
lista = []
lista.append(a)
lista.append(b)
lista += c
print(lista)

[1, 31, 1, 2, 3]

## Esercizio 
creare una lista di numeri interi, float o misti  
iterare sui numeri della lista, stampandoli insieme al loro indice   
inserire in una lista di appoggio i quadrati dei numeri della lista  
stampare la nuova lista per verificarne contenuto  
come buona pratica, commentare il codice

In [70]:
# creo una lista di numeri interi e float
numeri = [1,2,2.5,3,3.5]
print(numeri)

# stampo iterando i numeri della lista con il loro indice
i = 0
while i < len(numeri):
    print(f"alla possizione {i} trovo il numero {numeri[i]}")
    i += 1
    
# creo una lista con i quadrati della lista numeri
quadrati = [n**2 for n in numeri]   
print(quadrati)

[1, 2, 2.5, 3, 3.5]
alla possizione 0 trovo il numero 1
alla possizione 1 trovo il numero 2
alla possizione 2 trovo il numero 2.5
alla possizione 3 trovo il numero 3
alla possizione 4 trovo il numero 3.5
[1, 4, 6.25, 9, 12.25]

## Esercizio 5
La comprensione di lista può essere combinata all'enumerazione:

    [f(index, element) for index, element in enumerate(list)]

indexed_names = [[i, n] for i, n in enumerate(names)]  

indexed_names  
[[0, 'francesco'],  
 [1, 'elisa'],  
 [2, 'alessandro'],  
 [3, 'giovanni'],  
 [4, 'maria teresa']]  
Ripetere l'enumerazione della cella precedente stampando i nomi in ordine alfabetico. Suggerimento: è sufficiente una riga di codice.

In [83]:
names = ['francesco', 'elisa', 'alessandro', 'giovanni', 'maria teresa']
ordered_names = [[i,n] for i,n in enumerate(sorted(names)) ]
print(ordered_names)

[[0, 'alessandro'], [1, 'elisa'], [2, 'francesco'], [3, 'giovanni'], [4, 'maria teresa']]

## Esercizio #1  
Utilizzando il ciclo for stampa una stringa con tutti i numeri divisibili per 9 in un range di 100.

In [108]:
new = []
for num in range(100):
    if num %9 == 0:
        new.append(str(num))
print(','.join(new))

0,9,18,27,36,45,54,63,72,81,90,99

## Esercizio #2
Data la seguente lista:

l = [1, 3, 4, 5, 6, 9, 10, 17, 23, 24]  
Togli tutti i numeri dispari e stampa una lista con solo i numeri pari.

In [122]:
l = [1, 3, 4, 5, 6, 9, 10, 17, 23, 24]
ris = []
for n in l:
    if n % 2 == 0:
        ris.append(n)
print(ris)

[4, 6, 10, 24]

## Esercizio #3
Scrivere un programma che dal testo dato:  

testo = "Python è un linguaggio di programmazione molto popolare"  
Estrai le prime quattro parole. Standardizzale, cioè sostituisci le lettere maiuscole con lettere minuscole. Presenta il risultato in una lista e stampalo sulla console

In [133]:
testo = "Python è un linguaggio di programmazione molto popolare"
parole = testo.split()
lista = []
i = 0
while i <= 3:
    lista.append(parole[i].lower())
    i += 1
print(lista)

['python', 'è', 'un', 'linguaggio']

## Esercizio #4
Data la seguente lista di numeri decimali:

n = [0.31, 0.11, 0.51, 0.45, 0.67, 0.01]  
Utilizza un ciclo for e verifica quando il numero all'interno della lista è maggiore di 0.5, in tal caso crea una lista ed inserisci il valore 1 al suo interno altrimenti inserisci 0.

In [139]:
n = [0.31, 0.11, 0.51, 0.45, 0.67, 0.01]
lista = []
for i in n:
    if i > 0.5:
        lista += [1]
    else:
        lista += [0]
print(lista)

[0, 0, 1, 0, 1, 0]

## Esercizio #5
Crea un dizionario che contenga con quanta frequenza appaiono le lettere 'a' e 'b' all'interno della lista data.  

items = ['a', 'b', 'b', 'b', 'a', 'b', 'b', 'b', 'a']

In [17]:
items = ['a', 'b', 'b', 'b', 'a', 'b', 'b', 'b', 'a']
dic = {}
for i in items:
    if i not in dic.keys():
        dic[i] = 1
    else:
        dic[i] += 1
print(dic)

{'a': 3, 'b': 6}

## Esercizio #6
hashtags = ['holiday', 'sport', 'fit', None, 'fashion']  
Verifica che ogni hashtag inseriti nella lista sopra siano delle stringhe. Il tuo programma deve restituire True in caso positivo e False in caso negativo.

In [163]:
hashtags = ['holiday', 'sport', 'fit', None, 'fashion']
res = True
for n in hashtags:
    if type(n) == str:
        res *= True
    else:
        res *= False
if res == 1: 
    print(True) 
else: print(False)

False

## Esercizio #7  
Data la seguente lista di nomi:  

nomi = ['Alessio', 'Moira', 'Renato', None, 'Martino']  
Crea un programma che stampa tutti i nomi presenti utilizzando il ciclo for. Solamente i nomi.

In [170]:
nomi = ['Alessio', 'Moira', 'Renato', None, 'Martino']
for i in nomi:
    if type(i) == str:
        print(i, end=' ')

Alessio Moira Renato Martino

## Esercizio #8  
Date le seguenti liste:  

l1=[2, 3, 6, 8, 9, 11, 16]  
l2=[]  
Scrivi un ciclo for che aggiunge il quadrato di ogni numero, presente nella prima lista, nella seconda lista.

In [177]:
l1=[2, 3, 6, 8, 9, 11, 16]
l2=[]
for n in l1:
    l2.append(n**2)
print(l2)

[4, 9, 36, 64, 81, 121, 256]

## Esercizio 1  
Scrivere un programma che utilizzi un loop for per stampare ogni elemento di una lista.

In [193]:
for n in l1:
    print(n, end=' ')

2 3 6 8 9 11 16

## Esercizio 2  
Scrivere un programma che utilizzi un loop for per stampare tutti i numeri da 1 a 10.

In [197]:
for n in range(11):
    print(n, end=' ')

0 1 2 3 4 5 6 7 8 9 10

## Esercizio 3  
Scrivere un programma che utilizzi un loop for per sommare tutti i numeri in una lista.

In [188]:
sum = 0
for i in l1:
    sum +=i
print(sum)

55

## Esercizio 4  
Scrivere un programma che utilizzi un loop for per stampare tutti i numeri pari da 1 a 20.

In [199]:
for i in range(21):
    if i%2 == 0:
        print(i, end=' ')

0 2 4 6 8 10 12 14 16 18 20

## Esercizio 5  
Scrivere un programma che utilizzi un loop for per stampare tutte le lettere di una stringa.

In [204]:
stringa = "Anita"
for c in stringa:
    print(c)

A
n
i
t
a

## Esercizio 6
Scrivere un programma che utilizzi un loop for per stampare tutte le chiavi di un dizionario.

In [19]:
for k in dic:
    print(k)

a
b

## Esercizio 7  
Scrivere un programma che utilizzi un loop for per stampare tutte le coppie chiave-valore di un dizionario.

In [27]:
for k, i in dic.items():
    print(f"{k} : {i}")

a : 3
b : 6

## Esercizio 8  
Scrivere un programma che utilizzi un loop for per stampare tutte le lettere di ogni stringa in una lista.

In [210]:
lista = ["Monica", "Angela", "Maria pia"]
for n in lista:
    for c in n:
        print(c)

M
o
n
i
c
a
A
n
g
e
l
a
M
a
r
i
a

p
i
a

## Esercizio 9  
Scrivere un programma che utilizzi un loop for per contare quante volte una lettera compare in una stringa.

In [215]:
i = 0
for c in stringa:
    if c.lower() == 'a':
        i += 1
print(i)

2

## Esercizio 10  
Scrivere un programma che utilizzi un loop for per calcolare la media di una lista di numeri.

In [218]:
numeri = [1,2,3,4,5,6]
sum = 0
for n in numeri:
    sum += n
print(sum/len(numeri))

3.5

## Metti in pratica quanto imparato provando a svolgere questi esercizi:  

1. Scrivi una funzione per contare la frequenza di ciascun carattere in una determinata stringa e memorizza i risultati in un dizionario.  
2. Crea un programma che chieda all'utente una frase e poi stampi un dizionario con il conteggio di ogni parola nella frase.

In [41]:
# 1.
def freq_char(str):
    dict = {}
    for c in str:
        if c.lower() not in dict.keys():
            dict[c.lower()] = 1
        else:
            dict[c.lower()] +=1
    return(dict)
freq_char("Baobab")

{'b': 3, 'a': 2, 'o': 1}

In [49]:
# 2.
def freq_wrd(str):
    lib = str.split(" ")
    dict = {}
    for parola in lib:
        if parola.lower() not in dict.keys():
            dict[parola.lower()] = 1
        else:
            dict[parola.lower()] += 1
    return(dict)
str = input("Inserisci una frase a tuo piacimento")
print(f"il conteggio delle parole della tua frase è la seguente:\n {freq_wrd(str)}")

Inserisci una frase a tuo piacimento se hai una Serva che Non serve Serviti di una serva che Serve manda la serva che non Serve a uno a cui non SERVE una seRVA

il conteggio delle parole della tua frase è la seguente:
 {'se': 1, 'hai': 1, 'una': 3, 'serva': 4, 'che': 3, 'non': 3, 'serve': 4, 'serviti': 1, 'di': 1, 'manda': 1, 'la': 1, 'a': 2, 'uno': 1, 'cui': 1}

## Esercizio 1  
Su https://en.wikipedia.org/wiki/List_of_mountains_by_elevation trovate l'elenco delle montagne più alte del mondo.  

-costruire una struttura dati heights che, per ognuna delle 5 montagne più alte, permetta di accedere all'altezza a partire dal nome  
-stampare le montagne in ordine alfabetico, riportandone nome, altezza e indice nell'ordinamento alfabetico  
es:  
La montagna numero 1 è Kangchenjunga ed è alta 8,586 metri   
La montagna numero 2 è K2 ed è alta 8,611 metri ...   
La montagna numero 5 è Mount Everest ed è alta 8,858 metri

In [59]:
heights = [
    {"nome": "Everest", "altezza": 8.858},
    {"nome": "K2", "altezza": 8.611},
    {"nome": "Kangchenjunga", "altezza": 8.586},
    {"nome": "Lhotse", "altezza": 8.516},
    {"nome": "Makalu", "altezza": 8.485}
]

# Ordinare la lista di dizionari in ordine alfabetico
heights.sort(key=lambda x: x["nome"])

# Ciclo per stampare le montagne ordinate
for i, montagna in enumerate(heights):
    print(f"La montagna numero {i+1} è {montagna["nome"]} ed è alta {montagna["altezza"]} metri")

La montagna numero 1 è Everest ed è alta 8.858 metri
La montagna numero 2 è K2 ed è alta 8.611 metri
La montagna numero 3 è Kangchenjunga ed è alta 8.586 metri
La montagna numero 4 è Lhotse ed è alta 8.516 metri
La montagna numero 5 è Makalu ed è alta 8.485 metri

## Esercizio 2
Utilizzando il link dell'esercizio precedente,  

-costruire un database mountains con le prime 5 montagne più alte  
-ogni record deve contenere nome, altezza e stato in cui si trova la montagna  
-stampare, in ordine di inserimento, tutte le informazioni di ogni montagna e l'indice di inserimento La montagna numero 1 è Mount Everest, è alta 8858 metri e si trova in Nepal  
-costruire due liste mountain_names e mountain_heights, rispettivamente con nomi e altezze delle montagne inserite nel database   
utilizzando le due liste, costruire lo stesso dizionario dell'esercizio precedente (l'ordine delle coppie non è importante)

In [105]:
heights = [
    {"nome": "Everest", "altezza": 8.858, "stato": "Nepal"},
    {"nome": "K2", "altezza": 8.611, "stato" : "Pakistan"},
    {"nome": "Kangchenjunga", "altezza": 8.586, "stato" : "Nepal"},
    {"nome": "Lhotse", "altezza": 8.516, "stato" : "Nepal"},
    {"nome": "Makalu", "altezza": 8.485, "stato" : "Nepal"}
]
for i, montagna in enumerate(heights):
    print(f"La montagna numero {i+1} è {montagna["nome"]} è alta {montagna["altezza"]} metri e si trova in {montagna["stato"]}")

mountain_names = [n["nome"] for n in heights]
mountain_heights = [n["altezza"] for n in heights]
print(mountain_names)
print(mountain_heights)

i = 0
list = []
while i < len(mountain_names):
    list += [{mountain_names[i] : mountain_heights[i]}]
    i += 1
print(list)

La montagna numero 1 è Everest è alta 8.858 metri e si trova in Nepal
La montagna numero 2 è K2 è alta 8.611 metri e si trova in Pakistan
La montagna numero 3 è Kangchenjunga è alta 8.586 metri e si trova in Nepal
La montagna numero 4 è Lhotse è alta 8.516 metri e si trova in Nepal
La montagna numero 5 è Makalu è alta 8.485 metri e si trova in Nepal
['Everest', 'K2', 'Kangchenjunga', 'Lhotse', 'Makalu']
[8.858, 8.611, 8.586, 8.516, 8.485]
[{'Everest': 8.858}, {'K2': 8.611}, {'Kangchenjunga': 8.586}, {'Lhotse': 8.516}, {'Makalu': 8.485}]

## Esercizio 3
Seguendo quanto fatto in precedenza, costruire un database di montagne con dati e proprietà a piacere.  

Definire una funzione che prenda in ingresso una singola montagna e ne stampi le informazioni, come visto qui sopra.  

Iterare sulle montagne attraverso una enumerazione.  
Per ognuno, stampare:  
-l'indice di inserimento nel database  
-le sue informazioni, usando la funzione appena definita.

In [99]:
heights = [
    {"nome": "Everest", "altezza": 8.858, "stato": "Nepal"},
    {"nome": "K2", "altezza": 8.611, "stato" : "Pakistan"},
    {"nome": "Kangchenjunga", "altezza": 8.586, "stato" : "Nepal"},
    {"nome": "Lhotse", "altezza": 8.516, "stato" : "Nepal"},
    {"nome": "Makalu", "altezza": 8.485, "stato" : "Nepal"}
]

def info(dict):
    keys = dict.keys()
    for i in keys:
        print(f"{i} : {dict[i]}", end = ' ')
    print("\n")

for i, montagna in enumerate(heights):
    print(f"{i+1} --> ", end = '')
    info(montagna)

1 --> nome : Everest altezza : 8.858 stato : Nepal

2 --> nome : K2 altezza : 8.611 stato : Pakistan

3 --> nome : Kangchenjunga altezza : 8.586 stato : Nepal

4 --> nome : Lhotse altezza : 8.516 stato : Nepal

5 --> nome : Makalu altezza : 8.485 stato : Nepal

## Esercizio di riepilogo   

È arrivato il momento di svolgere un esercizio di riepilogo per mettere in pratica quanto hai studiato finora.  

Segui la traccia seguente.    
Scrivi una funzione a cui viene passata una parola e riconosce se si tratta di un palindromo (parole che si leggono uguali anche al contrario) oppure no.  
Scrivi tale funzione su un notebook Jupyter e testala con queste stringhe:  
 - parola ‘anna’ polindromo  
 - parola ‘casa’ non polindromo

In [13]:
# 1. 
def palindrome(str):
    str = str.lower()
    index = len(str) -1
    opposite = ""
    while index >= 0:
        opposite += str[index]
        index -=1
    if opposite == str:
        print("palindromo")
        return True
    else:
        print("non palindromo")
        return False

palindrome("anna")
palindrome("casa")

palindromo
non palindromo

False